.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.result{
    width: 400;
    height: 400;
}

.photo{
    width: 80%;
    height: 50%;
}
.login{
    margin: 10px;
    width: 200px;
    height: 50px;
}