<div class="container">
    <mat-card class="invisibleFriendCard">
      <mat-card-title class="centerText">Hola! {{familyManagement.currentUser.name}}!</mat-card-title>
      <mat-card-content>
      <div *ngIf="!repitedQuery">
        <div *ngIf="!isButtonClicked" class="centerText">
          <h2>Aqui puedes obtener un amigo invisible aleatorio o consultar el que te tocó</h2>
          <h2>El gasto máximo para el regalo será 50€</h2>
          <h2>¡FELIZ NAVIDAD!</h2>
        </div>

        <div *ngIf="isButtonClicked" class="centerText">
          <h2>Tu amigo Invisible es!</h2>
          <h1 >{{selectedMember.name}}</h1>
          <img class="centerImage" src="{{selectedPhoto}}" class="photo card-img-top" alt="...">
        </div>
      </div>

      <div *ngIf="repitedQuery" class="centerText">
        <h2>Recuerda que tu amigo invisible es</h2>
        <h1 >{{this.familyManagement.currentUser.invisibleFriend}}</h1>
        <img class="centerImage" src="{{selectedPhoto}}" class="photo card-img-top" alt="...">
      </div>

      </mat-card-content>
        <button (click)="selectInvisibleFriend()" *ngIf="!isButtonClicked && !repitedQuery" mat-raised-button color="primary" >Conseguir Amigo invisible</button>
    </mat-card>

</div>
